h1, h1 a, h2, h3, h4, .dd-font {
  font-family: 'filson-soft';
  font-style: normal;
  font-weight: 500; }

.dd-logo {
  width: 222px;
  height: 67px;
  background: url("../images/digidrop_logo.svg") no-repeat transparent 0 0;
  float: left;
  display: inline-block;
  text-indent: -999px;
  overflow: hidden; }

div, p, a, ul, li {
  font-family: 'Open Sans', Helvetica, Arial, sans-Serif;
  font-style: normal;
  font-weight: 300; }

.jumbotron {
  border-radius: 0;
  margin-bottom: 0; }

h3 {
  font-size: 2.8rem;
  text-align: center; }

a:hover {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

@media screen and (min-width: 768px) {
  body {
    margin-top: 0; } }

@media screen and (min-width: 768px) {
  body.user-logged-in {
    margin-top: 15px; } }

.path-frontpage #main-content {
  padding: 0; }

#main-content {
  padding: 20px; }

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0; }
  footer a {
    padding: 0 10px;
    font-size: 2rem; }
    footer a:last-child {
      padding-right: 0; }
    footer a:hover {
      color: #3195D2; }
  footer i.fa {
    color: #fff; }

.page-header {
  border: 0; }

.block h2 {
  text-align: center;
  font-size: 29px; }

#use-drupal {
  padding: 2rem;
  background-color: #123B54; }
  #use-drupal h3 {
    text-align: center;
    color: #fff; }
    #use-drupal h3 a {
      color: #53B0EB; }
  #use-drupal p {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-family: "filson-soft"; }

#block-getintouch {
  background-color: #F7F4F4;
  text-align: center;
  padding: 0 0 20px 0; }
  #block-getintouch a {
    color: #123B54;
    font-size: 1.9rem;
    font-family: "filson-soft";
    padding: 3px; }
    #block-getintouch a:hover {
      text-decoration: none;
      color: #fff;
      background-color: #123B54; }

#map {
  height: 300px; }

.overlay {
  background: rgba(49, 149, 210, 0.9) !important;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 99; }
  .overlay .container .row .region nav {
    clear: both;
    width: 100%; }
    .overlay .container .row .region nav ul {
      width: 100%;
      display: block; }
      .overlay .container .row .region nav ul.nav > li {
        display: block !important;
        float: left !important;
        width: 100%; }
        .overlay .container .row .region nav ul.nav > li:hover {
          background-color: transparent; }
        .overlay .container .row .region nav ul.nav > li a {
          line-height: 32px;
          font-family: 'filson-soft';
          font-style: normal;
          font-weight: 500;
          text-align: center;
          font-size: 3.5rem;
          padding: 0;
          margin-bottom: 10px;
          text-transform: lowercase; }
          .overlay .container .row .region nav ul.nav > li a:hover {
            background-color: transparent;
            color: #103042; }
  .overlay .container .row a {
    color: #fff;
    display: block; }
  .overlay .container .row .get-in-touch {
    clear: both;
    padding-top: 40px; }
    .overlay .container .row .get-in-touch a {
      text-align: center;
      font-size: 4rem;
      font-family: 'filson-soft';
      font-style: normal;
      font-weight: 500;
      color: #103042;
      line-height: 32px; }
      .overlay .container .row .get-in-touch a:hover {
        text-decoration: none; }

.menu-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 999;
  display: inline; }

.menu-btn a.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* safari hack */
  color: #252323; }
  .menu-btn a.btn.btn-open {
    background: url("../images/expand.svg") center 14px no-repeat #fff; }
    .menu-btn a.btn.btn-open:after {
      -webkit-transition: all .2s linear 0s;
      -moz-transition: all .2s linear 0s;
      -o-transition: all .2s linear 0s;
      transition-property: all .2s linear 0s; }
    .menu-btn a.btn.btn-open:hover:after {
      color: #32A6ED; }
  .menu-btn a.btn.btn-close {
    background: url("../images/close.svg") #003C60 no-repeat center 15px; }
    .menu-btn a.btn.btn-close:after {
      color: #fff;
      -webkit-transition: all .2s linear 0s;
      -moz-transition: all .2s linear 0s;
      -o-transition: all .2s linear 0s;
      transition-property: all .2s linear 0s; }

.btn-close:hover:after {
  color: #34B484; }

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  z-index: 99;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: rgba(49, 149, 210, 0.8); }

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .menu-btn {
    right: 25px; } }

@media (min-width: 768px) {
  .navbar-nav {
    clear: both;
    display: block; }
    .navbar-nav li {
      display: block; }
      .navbar-nav li a {
        color: #fff;
        text-align: center; } }

header {
  margin-bottom: 0;
  padding-bottom: 0;
  background: url("../images/header.jpg") top center transparent no-repeat;
  background-size: cover;
  height: 450px; }
  header .dd-logo {
    margin-top: 20px;
    height: 67px;
    display: inline-block;
    text-indent: -999px;
    overflow: hidden; }
    header .dd-logo a {
      background-image: url(../images/digidrop_logo.svg); }
      @media screen and (min-width: 768px) {
        header .dd-logo a {
          background-repeat: no-repeat;
          background-color: transparent;
          background-position: 0 0;
          width: 222px;
          float: left; } }

@media screen and (max-width: 768px) {
  .dd-logo {
    width: 100%;
    clear: both;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0 0;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s; } }

.block-our-services {
  background-color: #3195D2;
  padding: 20px 0; }
  .block-our-services .container h2, .block-our-services .container h3 a {
    color: #fff; }
  .block-our-services .container .i-service,
  .block-our-services .container .i-service div a {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: 'filson-soft';
    font-style: normal;
    font-weight: 500; }
    .block-our-services .container .i-service:hover,
    .block-our-services .container .i-service div a:hover {
      text-decoration: none; }
  .block-our-services .container .i-service {
    cursor: pointer;
    border-radius: 15px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 40px 0; }
    .block-our-services .container .i-service:hover {
      text-decoration: none;
      background-color: #32A6ED; }
    .block-our-services .container .i-service > div {
      background-position: top center;
      background-repeat: no-repeat;
      padding: 60px 0 0 0; }
      .block-our-services .container .i-service > div a {
        padding-top: 20px;
        clear: both; }
    .block-our-services .container .i-service .i-web-development {
      background-image: url("../images/services/web_development.png"); }
    .block-our-services .container .i-service .i-drupal {
      background-image: url("../images/services/drupal.png"); }
    .block-our-services .container .i-service .i-consultancy {
      background-image: url("../images/services/consultancy.png"); }
    .block-our-services .container .i-service .i-training {
      background-image: url("../images/services/training.png"); }
    .block-our-services .container .i-service .i-app {
      background-image: url("../images/services/app_development.png"); }
    .block-our-services .container .i-service .i-hosting {
      background-image: url("../images/services/hosting.png"); }

header {
  background-color: #103042;
  background-size: cover; }
  header h1 {
    text-align: center;
    color: #fff;
    font-size: 5rem;
    padding: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.path-frontpage header {
  background: url("../images/hero/home.jpg") top center no-repeat transparent;
  background-size: cover; }

.page-node-2 header {
  background: url("../images/hero/drupal.jpg") 0 center no-repeat transparent;
  background-size: cover; }
  .page-node-2 header div.dd-logo a {
    fill: #333; }

.page-node-1 header {
  background: linear-gradient(45deg, rgba(0, 229, 255, 0.5) 0, rgba(14, 105, 190, 0.75) 100%); }

.page-node-3 header {
  background: linear-gradient(45deg, rgba(255, 112, 58, 0.5) 0, rgba(255, 20, 42, 0.75) 100%); }

.page-node-4 header {
  background: linear-gradient(45deg, rgba(242, 120, 78, 0.5) 0, rgba(92, 24, 137, 0.75) 100%); }

.page-node-5 header {
  background: linear-gradient(45deg, rgba(0, 190, 181, 0.75) 0, rgba(76, 67, 66, 0.75) 100%); }

.page-node-6 header {
  background: linear-gradient(45deg, rgba(159, 33, 255, 0.8) 0, rgba(14, 105, 190, 0.75) 100%); }
