h1, h1 a, h2, h3, h4 {
  font-family: 'filson-soft';
  font-style: normal;
  font-weight: 500;
}

.dd-logo {
  width: 222px;
  height: 67px;
  background: url("../images/digidrop_logo.svg") no-repeat transparent 0 0;
  float: left;
  display: inline-block;
  text-indent: -999px;
  overflow: hidden;
}

p {
  font-family:"Open Sans";
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0; }

h3 {
  font-size: 2.8rem;
  text-align: center; }

a:hover {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }