@media screen and (min-width: 768px) {
  body {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    &.user-logged-in {
      margin-top: 15px;
    }
  }
}

.path-frontpage {
  #main-content {
    padding: 0;
  }
}

#main-content {
  padding:20px 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}