.block {
  h2 {
    text-align: center;
    font-size:29px;
  }
}

// Use Drupal
#use-drupal {
  padding:2rem;
  background-color: #123B54;
  h3 {
    text-align:center;
    color: #fff;
    a {
      color: #53B0EB;
    }
  }
  p {
    color:#fff;
    text-align:center;
    font-size:2rem;	font-family: "filson-soft";
  }
}

// Get in touch
#block-getintouch {
  background-color: #F7F4F4;
  text-align: center;
  padding:20px 0;
  a {
    color: #123B54;
    font-size: 1.9rem;
    font-family: "filson-soft";
    padding: 3px;
    &:hover {
      text-decoration: none;
      color: #fff;
      background-color: #123B54;
    }
  }
}

#map {
  height:300px;
}
